.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(6px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalWindow {
  background-color: #222121;
  border-radius: 8px;
  padding: 24px;
  min-width: 400px;
  max-width: 600px;
  max-height: 80vh;
  overflow: auto;
}

.modalTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: bold;
}

.modalClose {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  padding: 0;
  width: 24px;
  height: 24px;
}

.infoBlock {
  position: absolute;
  left: 150%;
  top: 110%;
  width: 360px;
  height: auto;
  transform: translateX(-50%);
  background: rgba(120, 60, 20, 0.95);
  border-radius: 8px;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.25);
  padding: 8px 12px;
  min-width: 260px;
  z-index: 5000;
  pointer-events: auto;
  max-height: 320px;
}

.infoBlock::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 2px;
  height: 100%;
  background: rgb(31, 31, 31);
  border-radius: 2px;
}

.infoBlock::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 2px;
  height: 100%;
  background: hsl(0, 0%, 9%);
  border-radius: 2px;
}

.infoBlockRight {
  left: 300px;
  top: -50px;
  right: auto;
  margin-left: 4px;
}

.infoBlockLeft {
  left: auto;
  right: -100px;
  top: -50px;
  margin-right: 4px;
}
