.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.01);
  border-radius: 10px;
  box-shadow: 0 0 0 2px transparent;
  transition: box-shadow 0.2s;
  padding: 6px;
  width: auto;
  height: auto;
  min-width: 0;
  min-height: 0;
}

.challengesAbove {
  position: absolute;
  top: -58px;
  left: 55%;
  transform: translateX(-50%);
  font-size: 25px;
  z-index: 0;
  pointer-events: none;
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.playersBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  background: none;
  border: none;
  box-shadow: none;
  color: #222;
  font-size: 16px;
  line-height: 1.2;
  padding: 0;
  margin: 0;
  user-select: none;
  row-gap: 2px;
  transition: color 0.2s;
  width: auto;
  min-width: 150px;
}

.player {
  font-size: 12px;
  padding: 5px;
}

/* Admin.module.css — стили для страницы админки */
.adminWrapper {
  max-width: 750px;
  margin: 40px auto;
  text-align: center;
}

.adminLoginWrapper {
  max-width: 320px;
  margin: 120px auto;
  text-align: center;
}

.adminTitle {
  font-size: 2rem;
  margin-bottom: 24px;
  color: #ffb357;
}

.adminLogoutBtn {
  float: right;
  margin-bottom: 16px;
}

.adminTopSpace {
  margin-top: 60px;
}

.adminInput {
  padding: 8px 12px;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  font-size: 14px;
  outline: none;
  width: 100%;
  margin-bottom: 12px;
}

.adminBtn {
  padding: 8px 16px;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  background-color: #fff;
  color: #000;
  margin-right: 8px;
}

.adminBtnPrimary {
  background-color: #1890ff;
  color: #fff;
  border: none;
}

.adminBtnDanger {
  color: #ff4d4f;
  border: 1px solid #ff4d4f;
  background: #fff;
}

.adminBtnGroup {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}

.formCardWrapper {
  position: absolute;
  transform: translate(-50%, -50%);
  display: flex;
  z-index: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  pointer-events: auto;
}
